.header {
    background-color: #333;
    padding: 1rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .navList li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navList li a:hover {
    text-decoration: underline;
  }
  